@import "./reset.css";
@import "./components/button.css";
@import "./layouts/portal-layout.css";

html {
    font-family: var(--kt-font-serif);
    font-size: var(--kt-font-root-size);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--kt-font-weight-bolder);
    color: var(--kt-color-primary-base);
    margin-bottom: var(--kt-dims-spacing);
}