@import "../system.css";

.kt-view--dashboard {
    display: flex;
    flex-direction: column;
    gap: var(--kt-dims-spacing);

    .login {
        display: flex;
        flex-direction: column;
        gap: var(--kt-dims-spacing);
        padding: var(--kt-dims-spacing);
        background-color: var(--kt-color-primary-light);
        border-radius: var(--kt-dims-radius);

        .buttons {
            display: flex;
            gap: var(--kt-dims-spacing);
        }
    }
}